.App{
    border: 1px solid rgb(98, 98, 98);
    width: 550px;
    margin: 150px auto;
    border-radius: 4px;
    overflow: hidden;
}

.content{
    padding: 10px;
    display: grid;
    grid-gap: 10px;
}
.list{
  
    display: grid;
    grid-gap: 20px;
}

.list :nth-child(even){
    background-color: rgb(212, 201, 201);
}